.card {
    background: linear-gradient(180deg, rgb(23, 29, 46) 64%, rgb(5, 11, 28) 100%);
    padding: 15px;
    border-radius: 20px;

    img {
        width: 100%;
    }
}

.banner {
    border-radius: 20px;
}