.btn {
    border-radius: 8px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1.6px;
    transition: box-shadow var(--transition), background-color var(--transition);
}

.yellow {
    background: var(--color-gradient-yellow);
    border: 1px solid transparent;
    font-weight: 500;

    &:hover {
        box-shadow: 0 0 15px rgba(255, 205, 24, 0.6);
    }
}

.yellow-secondary {
    background: transparent;
    border: 2px solid var(--color-yellow);
    color: var(--color-white);

    &:hover {
        box-shadow: 0 0 15px var(--color-yellow);
    }
}

.dark {
    background-color: var(--color-navy-medium);
    border: 1px solid var(--color-blue-gray);

    &:hover {
        background-color: var(--color-blue-gray);
        box-shadow: 0 0 15px var(--color-blue-gray);
    }
}

.dark-secondary {
    background-color: var(--color-navy-dark);
    color: var(--color-white);
    transition: letter-spacing var(--transition);

    &:hover {
        letter-spacing: 3.2px;
    }
}

.small {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 140px;
}

.large {
    padding: 20px 0;
    text-align: center;
    max-width: 160px;
    width: 100%;
}

.headerBtn {
    font-weight: 600;
    margin-left: 60px;
    padding: 16px 0;
}

.connectBtn {
    color: var(--color-white);
    font-weight: 400;
    margin-left: auto;
    padding: 13px 0;
}