@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --transition: .2s ease-in-out;

  --color-white: #FFF;
  --color-yellow: #FFD438;
  --color-gradient-yellow: linear-gradient(90deg, rgba(255,205,24,1) 0%, rgba(255,218,85,1) 100%);
  --color-gray-light: #9398A7;
  --color-gray-medium: #848A9C;
  --color-gray-dark: #464A59;
  --color-blue-gray: #1C2533;
  --color-navy-light: #0E1424;
  --color-navy-medium: #111826;
  --color-navy-dark: #050B1C;
  --color-theme-dark: #050B1C;

  --section-margin-bottom: 70px;

  --color-error: red;
  --color-error-transparent: rgba(255, 0, 4, 0.389);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  color: var(--color-white);
}

h1 {
  font-size: 58px;
  line-height: 66px;
  filter: drop-shadow(0 2px 10px rgba(255, 255, 255, 0.4));
}

h1, h2 {
  font-weight: 600;
}

h3, h4, h5, h6 {
  font-weight: 500;
}

h4 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}

.section-title {
  font-size: 54px;
  filter: drop-shadow(0 2px 10px rgba(245, 247, 82, 0.4));
  margin-bottom: 60px;
}

.section-title span {
  color: var(--color-yellow);
  font-family: "Raleway", sans-serif;
}

body {
  background-color: var(--color-theme-dark);
  overflow-x: hidden;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  color: var(--color-gray-medium);
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-weight: 300;
}

input {
  border: none;
  outline: none;
}

ul, li {
  list-style: none;
}

img {
  display: block;
}

.custom-toast .Toastify__toast {
  color: var(--color-white);
  overflow: hidden;

  /* Эффект настоящего стекла */
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  border: 2px solid;
  backdrop-filter: blur(30px) saturate(200%);
  -webkit-backdrop-filter: blur(50px) saturate(130%);
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.05),
    0 10px 30px rgba(0, 0, 0, 0.2);
  
  background-image: 
    radial-gradient(
      circle at 50% 50%,
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px
    );
  background-size: 15px 15px;
}

.custom-toast .Toastify__toast--success {
  background-color: rgba(40, 167, 69, 0.15);
  border-color: rgba(46, 213, 92, 0.3);
}

.custom-toast .Toastify__toast--error {
  background-color: rgba(220, 53, 69, 0.15);
  border-color: rgba(239, 84, 100, 0.3);
}

.custom-toast .Toastify__toast--warning {
  background-color: rgba(255, 193, 7, 0.15);
  border-color: rgba(255, 213, 79, 0.3);
}

.custom-toast .Toastify__toast--info {
  background-color: rgba(23, 162, 184, 0.15);
  border-color: rgba(77, 203, 220, 0.3);
}

.custom-toast .Toastify__close-button--light {
  color: var(--color-white);
  opacity: 1;
}

/* .custom-toast .Toastify__progress-bar--wrp {
  inset: 0;
  height: 100%;
  opacity: 0.2;
}

.custom-toast .Toastify__progress-bar--bg {
  opacity: 0;
} */

.custom-toast .Toastify__progress-bar--wrp {
  opacity: 0;
}



.error-field {
  margin-top: 2px;
  color: red;
  font-size: 14px;
}